@charset "UTF-8"; /* 设置字符编码为 UTF-8 */
:root {
  /* Font settings 字体设置 */
  --base-Latin-font: "Latin Modern Roman", "Latin Modern Roman 10", Times; /* Basic Latin fonts 基本拉丁字体 */
  --base-Chinese-font: "家族宋", "宋体-简", "华文宋体", "Noto Serif CJK SC"; /* Basic Chinese fonts 基本中文字体 */
  --base-font-size: 9.5pt; /* Base font size 基本字体大小 */
  --quote-font: "Latin Modern Roman", "Latin Modern Roman 10", Times, "Times New Roman", "华文仿宋"; /* Quote font 引用字体 */
  --quote-font-size: 1.05em; /* Quote font size 引用字体大小 */
  --code-font: "Latin Modern Mono", "Latin Modern Mono 10", "Consolas", "Courier New"; /* Code font 代码字体 */
  --ui-font: "阿里巴巴普惠体 2.0", "微软雅黑"; /* UI font 用户界面字体 */
  --sourceMode-font: "SF Mono", "阿里巴巴普惠体 2.0", "微软雅黑"; /* Source mode font 源代码模式字体 */
  --toc-font: ""; /* TOC font 目录字体 */
  --toc-font-size: ""; /* TOC font size 目录字体大小 */
  --math-font-size: 1em; /* Math font size 数学公式字体大小 */
  --table-title-font: ""; /* Table title font 表格标题字体 */
  --table-font: ""; /* Table font 表格字体 */
  --heading-Latin-font: var(--base-Latin-font); /* Heading Latin font 标题拉丁字体 */
  --heading-Chinese-font: "华文黑体"; /* Heading Chinese font 标题中文字体 */
  --title-Chinese-font: "华文黑体"; /* Title Chinese font 标题中文字体 */
  --title-font-size: 1.9em; /* Title font size 标题字体大小 */
  --h2-Chinese-font: "华文黑体"; /* H2 Chinese font 二级标题中文字体 */
  --h2-font-size: 1.5em; /* H2 font size 二级标题字体大小 */
  --h3-Chinese-font: "华文黑体"; /* H3 Chinese font 三级标题中文字体 */
  --h3-font-size: 1.25em; /* H3 font size 三级标题字体大小 */
  --h4-Chinese-font: "华文楷体"; /* H4 Chinese font 四级标题中文字体 */
  --h4-font-size: 1.15em; /* H4 font size 四级标题字体大小 */
  --h5-Chinese-font: "华文仿宋"; /* H5 Chinese font 五级标题中文字体 */
  --h5-font-size: 1.10em; /* H5 font size 五级标题字体大小 */
  --h6-Chinese-font: "华文仿宋"; /* H6 Chinese font 六级标题中文字体 */
  --h6-font-size: 1.05em; /* H6 font size 六级标题字体大小 */
  --strong-weight: 900; /* Bold text weight 粗体文字权重 */
  --base-line-height: 1.618em; /* Base line height 基本行高 */
  --set-margin: 1.8cm 2cm 1.2cm 2cm !important; /* Page margins 页面边距 */
  --toc-show-title: none; /* TOC title display 目录标题显示 */
  --link-color-light: #2E67D3; /* Link color (light mode) 链接颜色（浅色模式） */
  --link-color-dark: #8bb1f9; /* Link color (dark mode) 链接颜色（深色模式） */
}

body {
  padding: 0 !important; /* Remove padding 移除内边距 */
  margin: 0 !important; /* Remove margin 移除外边距 */
  counter-reset: link-counter; /* Define global link counter 定义全局链接计数器 */
}

@media print {
  #write {
    padding: 0 !important; /* Remove padding when printing 打印时移除内边距 */
  }

  @page {
    margin: 1.8cm 2cm 1.2cm 2cm !important; /* Set page margins for printing 打印页面的边距 */
  }
}

#write {
  font-family: var(--base-Latin-font), var(--base-Chinese-font), serif; /* Set font family for text area 设置文本区域的字体 */
  font-size: var(--base-font-size); /* Set font size for text area 设置文本区域的字体大小 */
  max-width: 21cm; /* Set max width for text area 设置文本区域的最大宽度 */
  background-color: white; /* Set background color to white 设置背景颜色为白色 */
}

#write .md-math-block,
#write .md-rawblock,
#write p {
  margin-top: 1em; /* Set top margin for paragraphs and blocks 设置段落和块元素的上边距 */
  margin-bottom: 1em; /* Set bottom margin for paragraphs and blocks 设置段落和块元素的下边距 */
}

#write p {
  text-align: left; /* Align paragraph text to the left 设置段落文本左对齐 */
  line-height: var(--base-line-height); /* Set line height for paragraphs 设置段落行高 */
}

/* Link styles, no underline, black color 链接样式，无下划线，颜色为黑色 */
#write a {
  color: black; /* Set link color to black 链接颜色为黑色 */
  text-decoration: none; /* Remove underline from links 链接无下划线 */
  position: relative; /* Set relative positioning for links 设置链接的相对定位 */
}

/* Add counter to non-TOC links 为非TOC链接增加计数器 */
#write a:not(.md-toc-item a) {
  counter-increment: link-counter; /* Increment link counter 增加链接计数器 */
  position: relative; /* Set relative positioning for links 设置链接的相对定位 */
}

/* Custom superscript style, change color to black, reduce spacing 自定义角标样式，角标颜色改为黑色，并减小间距 */
#write a:not(.md-toc-item a)::after {
  content: counter(link-counter); /* Display link counter 显示链接计数器 */
  font-size: 0.7em; /* Set superscript font size 设置角标字体大小 */
  vertical-align: super; /* Set vertical alignment for superscript 设置角标垂直对齐方式 */
  color: black; /* Set superscript color to black 设置角标颜色为黑色 */
  margin-left: -0.1em; /* Set left margin for superscript 设置角标的左边距 */
  position: absolute; /* Set absolute positioning for superscript 设置角标的绝对定位 */
  top: -0.5em; /* Set top margin for superscript 设置角标的上边距 */
  right: -0.5em; /* Set right margin for superscript 设置角标的右边距 */
}

/* TOC link styles, exclude these links 排除目录链接 */
.md-toc-item a {
  counter-increment: none; /* No counter increment for TOC links TOC链接不增加计数器 */
}

hr {
  border-top: solid 1px #ddd; /* Set style for horizontal rule 设置水平线的样式 */
  margin-top: 1.8em; /* Set top margin for horizontal rule 设置水平线的上边距 */
  margin-bottom: 1.8em; /* Set bottom margin for horizontal rule 设置水平线的下边距 */
}

img {
  page-break-inside: avoid; /* Avoid page break inside images 避免图片分页 */
}

strong {
  font-weight: var(--strong-weight); /* Set bold text weight 设置粗体文字权重 */
}

@media screen {
  #write {
    padding: var(--set-margin); /* Set padding for text area 设置文本区域的内边距 */
    box-shadow: 0 0 24px 12px #cccccc; /* Set shadow for text area 设置文本区域的阴影 */
  }
}

.MathJax {
  font-size: var(--math-font-size); /* Set font size for MathJax 设置数学公式的字体大小 */
}

#typora-source {
  font-family: var(--sourceMode-font), var(--code-font), var(--ui-font), monospace; /* Set font family for source mode 设置源代码模式的字体 */
  line-height: 2em; /* Set line height for source mode 设置源代码模式的行高 */
}

.sidebar-content {
  font-family: var(--ui-font); /* Set font family for sidebar content 设置侧边栏内容的字体 */
  list-style: none; /* Remove list style 移除列表样式 */
}

pre.md-meta-block {
  background: #cccccc; /* Set background color for meta block 设置代码块背景颜色 */
  padding: 1.4em; /* Set padding for meta block 设置代码块内边距 */
  font-family: var(--code-font), var(--ui-font), monospace; /* Set font family for meta block 设置代码块的字体 */
  font-size: 0.8em; /* Set font size for meta block 设置代码块的字体大小 */
}

#write > h3.md-focus:before,
#write > h4.md-focus:before,
#write > h5.md-focus:before,
#write > h6.md-focus:before,
h3.md-focus:before,
h4.md-focus:before,
h5.md-focus:before,
h6.md-focus:before {
  color: inherit; /* Inherit color 继承标题颜色 */
  border: inherit; /* Inherit border 继承标题边框 */
  border-radius: inherit; /* Inherit border radius 继承标题边框半径 */
  position: inherit; /* Inherit position 继承标题定位 */
  left: initial; /* Initialize left margin 初始化左边距 */
  float: none; /* No float 无浮动 */
  top: initial; /* Initialize top margin 初始化上边距 */
  font-size: inherit; /* Inherit font size 继承字体大小 */
  padding-left: inherit; /* Inherit left padding 继承左内边距 */
  padding-right: inherit; /* Inherit right padding 继承右内边距 */
  vertical-align: inherit; /* Inherit vertical alignment 继承垂直对齐方式 */
  font-weight: inherit; /* Inherit font weight 继承字体权重 */
  line-height: inherit; /* Inherit line height 继承行高 */
}

#write {
  counter-reset: h2 0 h3 0 h4 0 h5 0 h6 0; /* Reset heading counters 重置标题计数器 */
}
#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6 {
  font-weight: bold; /* Set font weight to bold 设置标题字体加粗 */
  page-break-after: avoid !important; /* Avoid page break after headings 避免标题分页 */
}
#write h1 {
  font-family: var(--heading-Latin-font), var(--title-Chinese-font), serif; /* Set font family for H1 heading 设置一级标题的字体 */
  text-align: center; /* Center align H1 heading 设置一级标题居中对齐 */
  column-span: all; /* Span H1 heading across all columns 设置一级标题跨越所有列 */
  font-size: var(--title-font-size); /* Set font size for H1 heading 设置一级标题的字体大小 */
  counter-reset: h2; /* Reset H2 heading counter 重置二级标题计数器 */
}
#write h2 {
  font-family: var(--heading-Latin-font), var(--h2-Chinese-font), serif; /* Set font family for H2 heading 设置二级标题的字体 */
  font-size: var(--h2-font-size); /* Set font size for H2 heading 设置二级标题的字体大小 */
  counter-reset: h3; /* Reset H3 heading counter 重置三级标题计数器 */
}
#write h3 {
  font-family: var(--heading-Latin-font), var(--h3-Chinese-font), serif; /* Set font family for H3 heading 设置三级标题的字体 */
  font-size: var(--h3-font-size); /* Set font size for H3 heading 设置三级标题的字体大小 */
  line-height: var(--h3-font-size); /* Set line height for H3 heading 设置三级标题的行高 */
  counter-reset: h4; /* Reset H4 heading counter 重置四级标题计数器 */
}
#write h4 {
  font-family: var(--heading-Latin-font), var(--h4-Chinese-font), serif; /* Set font family for H4 heading 设置四级标题的字体 */
  font-size: var(--h4-font-size); /* Set font size for H4 heading 设置四级标题的字体大小 */
  line-height: var(--h4-font-size); /* Set line height for H4 heading 设置四级标题的行高 */
  counter-reset: h5; /* Reset H5 heading counter 重置五级标题计数器 */
}
#write h5 {
  font-family: var(--heading-Latin-font), var(--h5-Chinese-font), serif; /* Set font family for H5 heading 设置五级标题的字体 */
  font-size: var(--base-font-size); /* Set font size for H5 heading 设置五级标题的字体大小 */
  line-height: var(--base-font-size); /* Set line height for H5 heading 设置五级标题的行高 */
  counter-reset: h6; /* Reset H6 heading counter 重置六级标题计数器 */
}

#write h5:before {
  counter-increment: h5; /* Increment H5 heading counter 增加五级标题计数器 */
  content: "(" counter(h5, decimal) ")"; /* Display H5 heading counter 显示五级标题计数器 */
  margin-right: 0.5em; /* Set right margin 设置右边距 */
}

#write h6 {
  font-family: var(--heading-Latin-font), var(--h6-Chinese-font), serif; /* Set font family for H6 heading 设置六级标题的字体 */
  font-size: var(--base-font-size); /* Set font size for H6 heading 设置六级标题的字体大小 */
  line-height: var(--base-font-size); /* Set line height for H6 heading 设置六级标题的行高 */
  text-align: center; /* Center align H6 heading 设置六级标题居中对齐 */
  counter-reset: none; /* Do not reset counter 不重置计数器 */
}

#write h2:before {
  counter-increment: h2; /* Increment H2 heading counter 增加二级标题计数器 */
  content: counter(h2); /* Display H2 heading counter 显示二级标题计数器 */
  margin-right: 1.2em; /* Set right margin 设置右边距 */
}

#write h3:before, h3.md-focus.md-heading:before {
  counter-increment: h3; /* Increment H3 heading counter 增加三级标题计数器 */
  content: counter(h2) "." counter(h3); /* Display H3 heading counter as H2.H3 显示三级标题计数器为H2.H3 */
  margin-right: 1.2em; /* Set right margin 设置右边距 */
}

#write h4:before, h4.md-focus.md-heading:before {
  counter-increment: h4; /* Increment H4 heading counter 增加四级标题计数器 */
  content: counter(h2) "." counter(h3) "." counter(h4); /* Display H4 heading counter as H2.H3.H4 显示四级标题计数器为H2.H3.H4 */
  margin-right: 1.2em; /* Set right margin 设置右边距 */
}

.footnotes {
  font-size: 0.95em; /* Set font size for footnotes 设置脚注的字体大小 */
}

.footnotes-area .footnote-line {
  color: var(--text-color); /* Set color for footnote line 设置脚注线条的颜色 */
}
.footnotes-area hr {
  border: 0; /* Remove border 移除边框 */
  color: #00000000; /* Set color to transparent 设置颜色为透明 */
}

ul {
  list-style: disc; /* Set list style to disc 设置列表样式为圆点 */
}
ul ul {
  list-style: "–   "; /* Set nested list style 设置嵌套列表样式 */
}
ul ul ul {
  list-style: "◦  "; /* Set nested nested list style 设置嵌套嵌套列表样式 */
}

ol {
  list-style: decimal; /* Set ordered list style to decimal 设置有序列表样式为十进制 */
}
ol ol {
  counter-reset: liist; /* Reset nested list counter 重置嵌套列表计数器 */
  list-style: none; /* Remove list style 移除列表样式 */
}
ol ol li {
  counter-increment: liist; /* Increment nested list counter 增加嵌套列表计数器 */
  position: relative; /* Set relative positioning 设置相对定位 */
}
ol ol li::before {
  content: "(" counter(liist, lower-alpha) ")"; /* Display nested list counter 显示嵌套列表计数器 */
  position: absolute; /* Set absolute positioning 设置绝对定位 */
  left: -1.8em; /* Set left margin 设置左边距 */
}
ol ol ol {
  counter-reset: liiist; /* Reset nested nested list counter 重置嵌套嵌套列表计数器 */
  list-style: none; /* Remove list style 移除列表样式 */
  margin: 0; /* Remove margin 移除边距 */
}
ol ol ol li {
  counter-increment: liiist; /* Increment nested nested list counter 增加嵌套嵌套列表计数器 */
  position: relative; /* Set relative positioning 设置相对定位 */
}
ol ol ol li::before {
  content: counter(liiist, lower-roman) "."; /* Display nested nested list counter 显示嵌套嵌套列表计数器 */
  align-self: flex-end; /* Set alignment 设置对齐 */
  position: absolute; /* Set absolute positioning 设置绝对定位 */
  left: -4.5em; /* Set left margin 设置左边距 */
  width: 4em; /* Set width 设置宽度 */
  text-align: right; /* Set text alignment to right 设置文本右对齐 */
}

li {
  position: relative; /* Set relative positioning 设置相对定位 */
}

ol, ul {
  padding-inline-start: 2em; /* Set padding for ordered and unordered lists 设置有序和无序列表的内边距 */
}

.md-task-list-item > input {
  margin-top: 0.42em; /* Set top margin for task list item checkbox 设置任务列表项复选框的上边距 */
  margin-left: -1.5em; /* Set left margin for task list item checkbox 设置任务列表项复选框的左边距 */
  width: 1em !important; /* Set width for task list item checkbox 设置任务列表项复选框的宽度 */
  height: 1em !important; /* Set height for task list item checkbox 设置任务列表项复选框的高度 */
}

#write table {
  border-top: 1.2pt solid; /* Set top border for table 设置表格的上边框 */
  border-bottom: 1.2pt solid; /* Set bottom border for table 设置表格的下边框 */
  font-family: var(--table-font), var(--base-Latin-font), var(--base-Chinese-font), serif; /* Set font family for table 设置表格的字体 */
  text-align: center; /* Center align table text 设置表格文本居中对齐 */
  page-break-inside: avoid; /* Avoid page break inside table 避免表格分页 */
  border-spacing: 6px; /* Set border spacing for table 设置表格边框间距 */
  width: auto; /* Set table width to auto 设置表格宽度为自动 */
  margin: 0 auto; /* Center align table 设置表格居中对齐 */
}
#write table td {
  padding: 2px; /* Set padding for table cells 设置表格单元格的内边距 */
}
#write table tr {
  padding: 2px; /* Set padding for table rows 设置表格行的内边距 */
}
#write th {
  padding: 0px 6px; /* Set padding for table headers 设置表格标题的内边距 */
}
#write thead {
  border-bottom: 0.5pt solid; /* Set bottom border for table header 设置表格标题的下边框 */
  font-family: var(--table-title-font), var(--heading-Latin-font), var(--heading-Chinese-font), serif !important; /* Set font family for table header 设置表格标题的字体 */
  font-weight: var(--strong-weight); /* Set font weight for table header 设置表格标题的字体权重 */
}

blockquote {
  font-style: normal; /* Set font style to normal 设置引用字体样式为正常 */
  font-family: var(--quote-font), var(--base-Latin-font), var(--base-Chinese-font), serif; /* Set font family for blockquote 设置引用的字体 */
  font-size: var(--quote-font-size); /* Set font size for blockquote 设置引用的字体大小 */
  padding-left: 2em; /* Set left padding for blockquote 设置引用的左内边距 */
  padding-right: 2em; /* Set right padding for blockquote 设置引用的右内边距 */
  margin-left: 0; /* Remove left margin for blockquote 移除引用的左边距 */
}

blockquote p:first-child {
  padding-top: 1ch; /* Set top padding for first paragraph in blockquote 设置引用中第一段的上边距 */
}

blockquote p:last-child {
  padding-bottom: 1ch; /* Set bottom padding for last paragraph in blockquote 设置引用中最后一段的下边距 */
}

blockquote blockquote {
  border-left: 4px solid #b3b3b3; /* Set left border for nested blockquote 设置嵌套引用的左边框 */
  padding-left: calc(2ch - 4px); /* Set left padding for nested blockquote 设置嵌套引用的左内边距 */
  padding-right: 0; /* Remove right padding for nested blockquote 移除嵌套引用的右内边距 */
  margin-left: -4px; /* Set left margin for nested blockquote 设置嵌套引用的左边距 */
  border-radius: 0; /* Remove border radius for nested blockquote 移除嵌套引用的边框半径 */
}

code {
  font-family: var(--code-font), var(--ui-font), monospace; /* Set font family for code 设置代码的字体 */
}

h1 code, h2 code, h3 code, h4 code, h5 code, h6 code,
p code,
li code {
  color: #3c70c6; /* Set color for code 设置代码颜色 */
  background-color: #fefefe; /* Set background color for code 设置代码背景颜色 */
  box-shadow: 0 0 1px 1px #c8d3df; /* Set box shadow for code 设置代码的阴影 */
  font-family: var(--code-font), var(--ui-font), monospace; /* Set font family for code 设置代码的字体 */
  box-sizing: border-box; /* Set box sizing for code 设置代码的盒子模型 */
  margin: 0 2px 0 2px; /* Set margin for code 设置代码的边距 */
  padding: 0 2px 0 2px; /* Set padding for code 设置代码的内边距 */
  border-radius: 2px; /* Set border radius for code 设置代码的边框半径 */
}

.md-fences,
.CodeMirror pre {
  font-size: 1em; /* Set font size for code blocks 设置代码块的字体大小 */
}

.CodeMirror-wrap {
  font-size: 1em; /* Set font size for code editor 设置代码编辑器的字体大小 */
}

.CodeMirror-code pre {
  font-family: var(--code-font), var(--ui-font), monospace; /* Set font family for code editor 设置代码编辑器的字体 */
}

.md-toc {
  font-size: var(--toc-font-size); /* Set font size for TOC 设置目录的字体大小 */
}

.md-toc-content {
  margin-left: 2em; /* Set left margin for TOC content 设置目录内容的左边距 */
  counter-reset: toc-h2 toc-h3 toc-h4; /* Reset TOC heading counters 重置目录标题计数器 */
  page-break-after: always; /* Always break page after TOC content 在目录内容后始终分页 */
}

.md-toc-inner {
  margin-left: 0 !important; /* Remove left margin for TOC inner content 移除目录内部内容的左边距 */
  color: var(--text-color) !important; /* Set text color for TOC inner content 设置目录内部内容的文本颜色 */
}

.md-toc-item {
  color: var(--text-color) !important; /* Set text color for TOC item 设置目录项的文本颜色 */
}

.md-toc-h2,
.md-toc-h3,
.md-toc-h4,
.md-toc-h5,
.md-toc-h6 {
  font-size: var(--toc-font-size); /* Set font size for TOC headings 设置目录标题的字体大小 */
  font-family: var(--toc-font), var(--base-Latin-font), var(--base-Chinese-font), serif; /* Set font family for TOC headings 设置目录标题的字体 */
}

.md-toc-h2 {
  font-weight: var(--strong-weight); /* Set font weight for TOC H2 heading 设置目录二级标题的字体权重 */
}

.md-toc-content .md-toc-h1 {
  display: var(--toc-show-title); /* Set display for TOC H1 heading 设置目录一级标题的显示 */
  counter-reset: toc-h2; /* Reset TOC H2 heading counter 重置目录二级标题计数器 */
}
.md-toc-content .md-toc-h2 {
  counter-reset: toc-h3; /* Reset TOC H3 heading counter 重置目录三级标题计数器 */
}
.md-toc-content .md-toc-h3 {
  counter-reset: toc-h4; /* Reset TOC H4 heading counter 重置目录四级标题计数器 */
}
.md-toc-content .md-toc-h4 {
  counter-reset: toc-h5; /* Reset TOC H5 heading counter 重置目录五级标题计数器 */
}
.md-toc-content .md-toc-h5 {
  counter-reset: toc-h6; /* Reset TOC H6 heading counter 重置目录六级标题计数器 */
}
.md-toc-content .md-toc-h2:before {
  counter-increment: toc-h2; /* Increment TOC H2 heading counter 增加目录二级标题计数器 */
  content: counter(toc-h2); /* Display TOC H2 heading counter 显示目录二级标题计数器 */
  margin-right: 1em; /* Set right margin 设置右边距 */
  font-weight: var(--strong-weight); /* Set font weight 设置字体权重 */
}
.md-toc-content .md-toc-h3:before {
  counter-increment: toc-h3; /* Increment TOC H3 heading counter 增加目录三级标题计数器 */
  content: counter(toc-h2) "." counter(toc-h3); /* Display TOC H3 heading counter as H2.H3 显示目录三级标题计数器为H2.H3 */
  margin-left: 1.5em; /* Set left margin 设置左边距 */
  margin-right: 0.5em; /* Set right margin 设置右边距 */
}
.md-toc-content .md-toc-h4:before {
  counter-increment: toc-h4; /* Increment TOC H4 heading counter 增加目录四级标题计数器 */
  content: counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4); /* Display TOC H4 heading counter as H2.H3.H4 显示目录四级标题计数器为H2.H3.H4 */
  margin-left: 3.5em; /* Set left margin 设置左边距 */
  margin-right: 0.5em; /* Set right margin 设置右边距 */
}
.md-toc-content .md-toc-h5:before {
  counter-increment: toc-h5; /* Increment TOC H5 heading counter 增加目录五级标题计数器 */
  content: counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4) "." counter(toc-h5); /* Display TOC H5 heading counter as H2.H3.H4.H5 显示目录五级标题计数器为H2.H3.H4.H5 */
  margin-left: 5.5em; /* Set left margin 设置左边距 */
  margin-right: 0.5em; /* Set right margin 设置右边距 */
}
.md-toc-content .md-toc-h6:before {
  counter-increment: toc-h6; /* Increment TOC H6 heading counter 增加目录六级标题计数器 */
  content: counter(toc-h2) "." counter(toc-h3) "." counter(toc-h4) "." counter(toc-h5) "." counter(toc-h6); /* Display TOC H6 heading counter as H2.H3.H4.H5.H6 显示目录六级标题计数器为H2.H3.H4.H5.H6 */
  margin-left: 7.5em; /* Set left margin 设置左边距 */
  margin-right: 0.5em; /* Set right margin 设置右边距 */
}
